*{
    margin: 0;
    padding:0;
}
body{
    background-color: peachpuff;
}

svg{
display: block;
margin: 0 auto;

}
#tooltip:hover{
fill: black;
}
#title{
    text-align: center;
    font-size: larger;
}