*{
    margin: 0 !important;
    padding:0 !important;
}
body{
    background-color: peachpuff;
}

svg{
display: block;
margin: 0 auto !important;
border: 2px solid black;

}
#tooltip:hover{
fill: black;
}
#title{
    text-align: center;
    font-size: larger;
}
#tooltip {
   
    position: absolute;
    text-align: center;
    margin: 30px;
    padding: 10px;
    font: 12px;
    background-color: rgb(125, 121, 121);
    opacity: 0.7;
    border: 2px black solid;
    
}

.graph{
    padding-top: 50px !important;
}